<!doctype html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Bootstrap core CSS -->
        <link href="../css/bootstrap.css" rel="stylesheet">
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <link href="../css/viewMeme.css" rel="stylesheet">
        <script>
            document.getElementById("date").innerHTML = Date();
        </script>
    </head>

    <body>
        <!--navbar-->
        <nav class="fixed-top navbar navbar-expand-lg home-navbar reverse-order">
            <a class="navbar-brand whitewash-text" href="user-home">
                <img src="res/homeIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                RageMemes
            </a>
<!--
            <input class="searchbar" type="search" placeholder="Search">
            <button class="btn btn-primary" type="submit"><img src="res/search.png" width="20" height="20s  "></button>
-->
            <!--logout-->
            <a class="nav-link whitewash-text right-floater" href="home">Logout<span class="sr-only">(current)</span></a>
            <div class="collapse navbar-collapse right-floater" id="navbarNavDropdown">
                <!--navbar-->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle whitewash-text" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search by Tags
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!--anime-tag-->
                            <a class="dropdown-item" href="anime-tag-login">#Anime</a>
                            <!--classic-tag-->
                            <a class="dropdown-item" href="classic-tag-login">#Classic</a>
                            <!--dank-tag-->
                            <a class="dropdown-item" href="dank-tag-login">#Dank</a>
                            <!--pinoy-tag-->
                            <a class="dropdown-item" href="pinoy-tag-login">#Pinoy</a>
                            <!--wholesome-tag-->
                            <a class="dropdown-item" href="wholesome-tag-login">#Wholesome</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--User Icon-->
        <div id="main-content1">
            <div class="meme-container">
                <img src="res/TwiceMina.jpg" class="avatar">
                <!--Mina Myoui-->
                <a href="user-upload" style="text-align: center; color:#3E3E3B;" class="lead">Upload form</a>
                <a href="user-profile" style="text-align: center; color:#3E3E3B;" class="lead">My memes</a>
            </div>
        </div>
        <!--Main Content-->
        <div id="main-content">
            <div class="container meme-container">
                <div class="meme-post">
                    <img src="../res/meme7.png" class="image">
                    <h1 class="display-4" style="text-align: center; color:#3E3E3B;">I know what we're gonna do today!</h1>
                    <div class="details">
                        <h2 class="description">Shout out to Perry the Platypus!</h2>
                        <!--posted by user-->
                        <h3 class="author">
                            Posted by 
                            <a href="tzuyu-view-profile">Tzuyu</a>
                            on 11 July 2018
                        </h3>
                        <!--tag-->
                        <h3 class="tags">
                            Tags: 
                            <a href="dank-tag-login">Dank</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
