<!doctype html>
<html lang="en">
    <head>
        <title>Sitemap</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <link href="css/siteMap.css" rel="stylesheet">
    </head>

    <body>      
        <h1>Home functions/views</h1>
        <a href="login.html">Login</a><br>
        <a href="signup.html">Signup</a><br><br>
        
        <h4>Guest user view</h4>
        <a href="home">Home</a><br>
        <a href="ErrorHtml/MinasProfile.html">User profile (Mina)</a><br>
        <a href="ErrorHtml/ErrorNotLogged.html">User profile (Tzuyu)</a><br><br>
        
        <h4>Logged in user view (logged in as Mina)</h4>
        <a href="loggedInHome.html">Home</a><br>
        <a href="viewMeme/MinasMemes.html">Personal meme dashboard / instant upload form</a><br>
        <a href="upload.html">Regular upload form</a><br>
        <a href="viewUser.html">User profile (Tzuyu)</a><br><br>
        
        <h1>Meme tags</h1>
        <h4>Guest user view</h4>
        <a href="animeTagged.html">Anime</a><br>
        <a href="classicTagged.html">Classic</a><br>
        <a href="dankTagged.html">Dank</a><br>
        <a href="pinoyTagged.html">Pinoy</a><br>
        <a href="wholesomeTagged.html">Wholesome</a><br><br>
        
        <h4>Logged in user view (logged in as Mina)</h4>
        <a href="animeTaggedLog.html">Anime</a><br>
        <a href="classicTaggedLog.html">Classic</a><br>
        <a href="dankTaggedLog.html">Dank</a><br>
        <a href="pinoyTaggedLog.html">Pinoy</a><br>
        <a href="wholesomeTaggedLog.html">Wholesome</a><br><br>      
        
        <h1>Individual meme pages (public)</h1>
        <h4>Guest user view</h4>
        <a href="viewMeme/viewMeme1.html">Meme 1</a><br>
        <a href="viewMeme/viewMeme2.html">Meme 2</a><br>
        <a href="viewMeme/viewMeme3.html">Meme 3</a><br>
        <a href="viewMeme/viewMeme5.html">Meme 5</a><br>
        <a href="viewMeme/viewMeme6.html">Meme 6</a><br>
        <a href="viewMeme/viewMeme7.html">Meme 7</a><br>
        <a href="viewMeme/viewMeme8.html">Meme 8</a><br>
        <a href="viewMeme/viewMeme9.html">Meme 9</a><br>
        <a href="viewMeme/viewMeme10.html">Meme 10</a><br>
        <a href="viewMeme/viewMeme11.html">Meme 11</a><br>
        <a href="viewMeme/viewMeme12.html">Meme 12</a><br>
        <a href="viewMeme/viewMeme13.html">Meme 13</a><br>
        <a href="viewMeme/viewMeme14.html">Meme 14</a><br>
        <a href="viewMeme/viewMeme15.html">Meme 15</a><br><br>
        
        <h4>Logged in user view (logged in as Mina)</h4>
        <a href="viewMeme/viewMeme1-1.html">Meme 1</a><br>
        <a href="viewMeme/viewMeme2-1.html">Meme 2</a><br>
        <a href="viewMeme/viewMeme3-1.html">Meme 3 (owned by user)</a><br>
        <a href="viewMeme/viewMeme3-1Edit.html">Meme 3 (edit)</a><br>
        <a href="viewMeme/viewMeme6-1.html">Meme 6</a><br>
        <a href="viewMeme/viewMeme7-1.html">Meme 7</a><br>
        <a href="viewMeme/viewMeme8-1.html">Meme 8</a><br>
        <a href="viewMeme/viewMeme9-1.html">Meme 9</a><br>
        <a href="viewMeme/viewMeme10-1.html">Meme 10</a><br>
        <a href="viewMeme/viewMeme11-1.html">Meme 11</a><br>
        <a href="viewMeme/viewMeme12-1.html">Meme 12</a><br>
        <a href="viewMeme/viewMeme13-1.html">Meme 13</a><br>
        <a href="viewMeme/viewMeme14-1.html">Meme 14</a><br>
        <a href="viewMeme/viewMeme15-1.html">Meme 15</a><br><br>
        
        <h1>Individual meme pages (private)</h1>
        <h4>Logged in user view (logged in as Mina)</h4>
        <a href="viewMeme/viewMeme4-1.html">Meme 4 (owned by user)</a><br>
        <a href="viewMeme/viewMeme4-1Edit.html">Meme 4 (edit)</a><br>
        <a href="viewMeme/viewMeme4-1Share.html">Meme 4 (share with friends)</a><br>
        <a href="viewMeme/viewMeme5-1.html">Meme 5 (owned by user)</a><br>
        <a href="viewMeme/viewMeme5-1Edit.html">Meme 5 (edit)</a><br>
        <a href="viewMeme/viewMeme5-1Share.html">Meme 5 (share with friends)</a><br>
        <a href="viewMeme/viewMeme17-1.html">Meme 17 (not owned but shared with user)</a><br><br>
        
        <h1>Error pages</h1>
        <a href="ErrorHtml/ErrorPrivatePost.html">Inaccessible meme</a><br>
    </body>
</html> 
