<!doctype html>
<html lang="en">
    <head>
        <title>Upload</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <!--Bootstrap JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <link href="css/home.css" rel="stylesheet">
        <link href="css/upload.css" rel="stylesheet">
        <script>
            function previewFile() {
                var preview = document.querySelector('img[id=preview]');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function() {
                    preview.src = reader.result;
                    preview.width = 250;
                    preview.height = 250;
                    preview.style.display = "block";
                }
                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
            previewFile();
        </script>
    </head>

    <body>
        <!--navbar-->
        <nav class="fixed-top navbar navbar-expand-lg home-navbar reverse-order">
            <a class="navbar-brand whitewash-text" href="user-home">
                <img src="res/homeIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                RageMemes
            </a>
            <input class="searchbar" type="search" placeholder="Search">
            <button class="btn btn-primary" type="submit"><img src="res/search.png" width="20" height="20s  "></button>
            <!--logout-->
            <a class="nav-link whitewash-text right-floater" href="home">Logout<span class="sr-only">(current)</span></a>
            <div class="collapse navbar-collapse right-floater" id="navbarNavDropdown">
                <!--navbar-->
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle whitewash-text" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search by Tags
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!--anime-tag-->
                            <a class="dropdown-item" href="anime-tag-login">#Anime</a>
                            <!--classic-tag-->
                            <a class="dropdown-item" href="classic-tag-login">#Classic</a>
                            <!--dank-tag-->
                            <a class="dropdown-item" href="dank-tag-login">#Dank</a>
                            <!--pinoy-tag-->
                            <a class="dropdown-item" href="pinoy-tag-login">#Pinoy</a>
                            <!--wholesome-tag-->
                            <a class="dropdown-item" href="wholesome-tag-login">#Wholesome</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Main Content-->
        <div id="main-content">
            <div class="container main-container">
                <form class="input-types" action="UploadMeme" method="post">
                    <img src="res/uploading.gif" class="img-thumbnail">
                    <h1 class="display-4" style="text-align: center; color:#3E3E3B;">Got a <i>dank</i> meme?</h1>
                    <h4 style="text-align: center; color:#3E3E3B;" class="lead">Show it to the world! Upload it here.</h4>
                    <hr class="my-4">
                    <!--UploadFiles-->
                    <input type="file" onchange="previewFile()" accept="image/x-png,image/tiff,image/jpeg">
                    <br><br>
                    <img src="" id="preview" class="img-thumbnail" style="display: none;">
                    <!--<img src="" height="200" alt="Image preview...">-->
                    <hr class="my-4">
                    <!--Add Title-->
                    <p>Title</p>
                    <input type="text" name="title "class="form-control input-width" placeholder="Enter title" required>
                    <hr class="my-4">
                    <!--Add Description-->
                    <p>Description</p>
                    <input type="text" name="description" class="form-control input-width" placeholder="Enter description">
                    <hr class="my-4">
                    <!--Add Tags-->
                    <p>Tags</p>
                    <input class="checkbox-size" name="tag1" value="#Anime" style="vertical-align: middle; margin: 2px;" type="checkbox">#Anime<br>
                    <input class="checkbox-size" name="tag2" value="#Classic" style="vertical-align: middle; margin: 2px;" type="checkbox">#Classic<br>
                    <input class="checkbox-size" name="tag3" value="#Dank" style="vertical-align: middle; margin: 2px;" type="checkbox">#Dank<br>
                    <input class="checkbox-size" name="tag4" value="#Pinoy" style="vertical-align: middle; margin: 2px;" type="checkbox">#Pinoy<br>
                    <input class="checkbox-size" name="tag5" value="#Wholesome" style="vertical-align: middle; margin: 2px;" type="checkbox">#Wholesome<br>
                    <hr class="my-4">
                    <!--Allow to set to private or public-->
                    <p>Viewing options</p>
                    <input class="radio-size" id="Private" name="Publicity" style="vertical-align: middle; margin: 2px;" type="radio">Private<br>
                    <input class="radio-size" name="Publicity" style="vertical-align: middle; margin: 2px;" type="radio">Public<br>
                    <hr class="my-4">
                    <!--Submit-->
                    <button class="btn btn-lg btn-success btn-block" type="submit" >Up and Out!</button>
<!--                    data-toggle="modal" data-target="#exampleModal"-->
                </form>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Do you want to upload your dank meme?
                            </div>
                            <div class="modal-footer">
                                <form action="UploadMeme" method="post">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Not yet...</button>
                                    <button type="submit" class="btn btn-primary">Yes!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--              <button class="btn btn-lg btn-primary btn-block input-width" type="submit">Submit</button>-->
            </div>
        </div>
    </body>
</html>
