.home-navbar{
    background-color:#3E3E3B;
    color: #4C586F;
}

body{
    background-image: url(../res/wallpaper.png);
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: row;
}

.whitewash-text{
    color:#EBECED;
}

.whitewash-text:hover{
    color:#CBC5C1; 
}

.meme-post{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content{
  width:60%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
  font-size: 1.2rem;
}

.meme-container{
    background-color:#EBECED;
    padding:50px;
    margin-top: 75px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-title{
    color: #3E3E3B;
    font-size: 30px;
}

.navbar{
    display: block;
}

.right-floater{
    float: right;
}

#main-content1{
    margin-left: 30px;
    width:15%;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
    font-size: 1.2rem;
    position:fixed;   
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
    padding: 5px;    
}

.moreOptions{
    width: 40px;
    padding: 10px;
    border-radius: 50%;
}

.moreOptions:hover{
    opacity: 0.7;
}

.flex-element{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/* new styles start here */

/*.post-title{
    color: #3E3E3B;
    font-size: 30px;
}*/

.meme-post .image {
    transition: transform .2s;
    margin-bottom:25px;
/*    box-shadow: 10px 10px;*/
    max-width: 700px;
}

.meme-post .image:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.meme-post h1{
    text-shadow: 2px 2px #cecece;
}

.meme-post .title{
    text-align:center;
}

.details{
    margin:0px 20px;
    padding:0px 80px;
}

.details h2{
    font-size:18px;
    color:#655e5e;
}

.details h3{
    font-size:16px;
    color:#918585;
}

.details .description{
    margin:20px 5px;
}