.home-navbar{
    background-color:#3E3E3B;
    color: #4C586F;
}

body{
    background-image: url(../res/wallpaper.png);
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: row;
}

.whitewash-text{
    color:#EBECED;
}

.whitewash-text:hover{
    color:#CBC5C1; 
}

.meme-post{
    display: flex;
    align-content: left;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

#main-content{
    width:45%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
    font-size: 1.2rem;
}

.meme-container{
    background-color:#EBECED;
    padding:25px;
    margin-top: 75px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    min-width: 400px;
}

.post-title{
    color: #3E3E3B;
    font-size: 30px;
}

.navbar{
    display: block;
}

.right-floater{
    float: right;
}

#main-content1{
    margin-left: 30px;
    width:15%;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
    font-size: 1.2rem;
    position:fixed;   
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.avatar2{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.flex-element{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.meme-post .image {
    margin-bottom:10px;
    width: 640px;
    max-width: 100%;
    /*
    transition: transform .2s;
    box-shadow: 10px 10px;
    max-width: 90%; */
}

/* new styles start here */

/*.post-title{
    color: #3E3E3B;
    font-size: 30px;
}*/

.meme-post .image:hover {
    /* transform: scale(1.01); */ /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

table {
    border-top: 1px solid #c3bcbc;
    margin:30px 0px 20px 0px; /*TRBL*/
    width:100%;
}

th {
    height:20px;
}

.meme-post h1{
    font-size:50px;
    text-shadow: 1px 1px #cecece;
}

.meme-post .title{
    /* text-align:center; */
}

.details{
    margin:0px 0px;
    padding:0px 0px;
    align-content:left;
}

.details h2{
    font-size:15px;
    color:#655e5e;
}

.details h3{
    font-size:15px;
    color:#918585;
}

.details .description{
    margin:5px 5px 10px 5px;
}

.editable-input{
    width:500px;
}

.searchbar{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    height: 35px;
    background-color: #3E3E3B;
    border-bottom-style: solid;
    border-bottom-color: #EBECED;
    color:#EBECED;
    width: 300px;
}

.searchbar:focus{
    outline: none;
}

.fixed-top{
    font-family: "Gill Sans MT", sans-serif;
}

 span.icon {
  font-family: 'Glyphicons Halflings';
} 