.home-navbar{
    background-color:#3E3E3B;
    color: #4C586F;
}

body{
    background-image: url(../res/wallpaper.png);
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: row;

}

.whitewash-text{
    color:#EBECED;
}

.whitewash-text:hover{
    color:#CBC5C1; 
}

.meme-post{
    display: flex;
    align-content: left;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

#main-content{
  width:60%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
  font-size: 1.2rem;
}

.meme-container{
    background-color:#EBECED;
    padding:50px;
    margin-top: 75px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-title{
    color: #3E3E3B;
    font-size: 30px;
}

.navbar{
    display: block;
}

.right-floater{
    float: right;
}

#main-content1{
    margin-left: 30px;
  width:15%;
  padding: 0px;
  box-sizing: border-box;
    font-family: "Gill Sans MT", sans-serif;
  font-size: 1.2rem;
    position:fixed;
    
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.flex-element{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.email{
    color: #4C586F;
}

.editable-input{
    border-style: dashed;
    border-color:#4C586F;
}

.searchbar{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    height: 35px;
    background-color: #3E3E3B;
    border-bottom-style: solid;
    border-bottom-color: #EBECED;
    color:#EBECED;
    width: 300px;
}

.searchbar:focus{
    outline: none;
}

#homeTitle{
    font-family: "Gill Sans MT", sans-serif;
}